In [1]:
#learndataa learndataa learndataa learndataa learndataa learndataa learndataa learndataa learndataa

## Exercises

### For Beginners: 17. Pandas (Part 6) How to handle duplicate records in Python?

#### Total questions sets:  4
#### Estimated time required: upto 45 minutes or more (Please take your time to understand and solve the questions.)

[Notes: 
- Answers may be typed after the line "#-------#" in each cell. Additional cells may be created if needed.
- The estimated time required to complete the exercise may vary depending on your prior knowledge.
- Answers to the questions are posted at the end of this worksheet. However, to help you learn, it is suggested that you to try to answer the questions yourself before looking at the answers.
]

### Import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Question 0:

#### Story:
A football team is getting ready for a tournament. Initially, they need to select five players based on their performance scores.

#### Request:
    - Filter the DataFrame to get only the latest scores for each player
    [Hint-1: Use .duplicated()
    [Hint-2: Use the tilda '~' to select opposite of a condition in boolean mask filter.]
    [Hint-3: Use pd.Timestamp('01-22-2020') to convert the 's_date'column to datetime
        - football['s_dat'] = football['s_date'].apply(lambda x: pd.Timestamp(x))
    [Hint-4: Use .reset_index() and .sort_values() to rearrange the DataFrame.]
        - football = football.sort_values(by=['player_id','s_date']).reset_index(drop=True)
        - Notice what happens if you do not sort the DataFrame

Print all answers to output.


[Note: Create new variables of your choice as needed.]

In [ ]:
# Football player list
football = pd.DataFrame({
    'player_id':[100012,100012,100012,100013,100013,100013,100014,100014,100014,100015,100015,100015,100016,100016,100016],
    's_date': ['01-29-2020','03-12-2020','02-15-2020','02-25-2020','01-11-2020','03-01-2020','01-20-2020','02-02-2020','03-11-2020','02-12-2020','01-23-2020','03-10-2020','01-09-2020','02-08-2020','03-06-2020'],
    'score': [50,55,54,67,58,69,56,45,57,56,67,68,69,67,56]
})
# ------- type the answer below this line ------- #

### Question 1:

Get the same output as above Q#0 by using .drop_duplicate()

Print all answers to output.

[Note: Create new variables of your choice as needed.]

In [ ]:
# Football player list
football = pd.DataFrame({
    'player_id':[100012,100012,100012,100013,100013,100013,100014,100014,100014,100015,100015,100015,100016,100016,100016],
    's_date': ['01-29-2020','03-12-2020','02-15-2020','02-25-2020','01-11-2020','03-01-2020','01-20-2020','02-02-2020','03-11-2020','02-12-2020','01-23-2020','03-10-2020','01-09-2020','02-08-2020','03-06-2020'],
    'score': [50,55,54,67,58,69,56,45,57,56,67,68,69,67,56]
})
# ------- type the answer below this line ------- #

### Question 2:

    - Use the .get() command to get the 'score' of a player at index 10
    - Use the .get() command to get the columns 's_date' and 'score'

Print all answers to output.

[Note: Create new variables of your choice as needed.]

In [8]:
# Football player list
football = pd.DataFrame({
    'player_id':[100012,100012,100012,100013,100013,100013,100014,100014,100014,100015,100015,100015,100016,100016,100016],
    's_date': ['01-29-2020','03-12-2020','02-15-2020','02-25-2020','01-11-2020','03-01-2020','01-20-2020','02-02-2020','03-11-2020','02-12-2020','01-23-2020','03-10-2020','01-09-2020','02-08-2020','03-06-2020'],
    'score': [50,55,54,67,58,69,56,45,57,56,67,68,69,67,56]
})
# ------- type the answer below this line ------- #

### Question 3:

    - Use the .lookup() command to get player_id at index 4, s_date at index 4 and score at index 4
    - Use the .lookup() command to get player_id at index 5, s_date at index 6 and score at index 7



Print all answers to output.

[Note: Create new variables of your choice as needed.]

In [ ]:
# Football player list
football = pd.DataFrame({
    'player_id':[100012,100012,100012,100013,100013,100013,100014,100014,100014,100015,100015,100015,100016,100016,100016],
    's_date': ['01-29-2020','03-12-2020','02-15-2020','02-25-2020','01-11-2020','03-01-2020','01-20-2020','02-02-2020','03-11-2020','02-12-2020','01-23-2020','03-10-2020','01-09-2020','02-08-2020','03-06-2020'],
    'score': [50,55,54,67,58,69,56,45,57,56,67,68,69,67,56]
})
# ------- type the answer below this line ------- #

### ////////////////////////////////////////////////////////////////////////////////////////////////////////
### ////////////////////////////////////////////////////////////////////////////////////////////////////////
### For practice, please try the questions above before looking at the answers below
### ////////////////////////////////////////////////////////////////////////////////////////////////////////
### ////////////////////////////////////////////////////////////////////////////////////////////////////////

# Answers
[Note: There may be different ways to answer the same question. Therefore, it is okay if the answers vary and sometimes do not match exactly.]

### Question 0:

#### Story:
A football team is getting ready for a tournament. Initially, they need to select five players based on their performance scores.

#### Request:
    - Filter the DataFrame to get only the latest scores for each player
    [Hint-1: Use .duplicated()
    [Hint-2: Use the tilda '~' to select opposite of a condition in boolean mask filter.]
    [Hint-3: Use pd.Timestamp('01-22-2020') to convert the 's_date'column to datetime
        - football['s_dat'] = football['s_date'].apply(lambda x: pd.Timestamp(x))
    [Hint-4: Use .reset_index() and .sort_values() to rearrange the DataFrame.]
        - football = football.sort_values(by=['player_id','s_date']).reset_index(drop=True)
        - Notice what happens if you do not sort the DataFrame

Print all answers to output.


[Note: Create new variables of your choice as needed.]

In [4]:
# Football player list
football = pd.DataFrame({
    'player_id':[100012,100012,100012,100013,100013,100013,100014,100014,100014,100015,100015,100015,100016,100016,100016],
    's_date': ['01-29-2020','03-12-2020','02-15-2020','02-25-2020','01-11-2020','03-01-2020','01-20-2020','02-02-2020','03-11-2020','02-12-2020','01-23-2020','03-10-2020','01-09-2020','02-08-2020','03-06-2020'],
    'score': [50,55,54,67,58,69,56,45,57,56,67,68,69,67,56]
})
# ------- type the answer below this line ------- #


print('#------------- Answer-1 ----------------------')
# Convert string to date
football['s_date'] = football['s_date'].apply(lambda x: pd.Timestamp(x))
# Sort 
football = football.sort_values(by=['player_id','s_date']).reset_index(drop=True)
# Create mask
mask = football.duplicated('player_id', keep='last')
football[~mask]

#------------- Answer-1 ----------------------

    player_id     s_date  score
2      100012 2020-03-12     55
5      100013 2020-03-01     69
8      100014 2020-03-11     57
11     100015 2020-03-10     68
14     100016 2020-03-06     56

### Question 1:

Using the sorted DataFrame from Q#0 above, get the same output as above using .drop_duplicate()

Print all answers to output.

[Note: Create new variables of your choice as needed.]

In [7]:

# ------- type the answer below this line ------- #
print('#------------- Answer-1 ----------------------')
football.drop_duplicates('player_id', keep='last')

#------------- Answer-1 ----------------------

    player_id     s_date  score
2      100012 2020-03-12     55
5      100013 2020-03-01     69
8      100014 2020-03-11     57
11     100015 2020-03-10     68
14     100016 2020-03-06     56

### Question 2:

    - Use the .get() command to get the 'score' of a player at index 10
    - Use the .get() command to get the columns 's_date' and 'score'

Print all answers to output.

[Note: Create new variables of your choice as needed.]

In [9]:
# Football player list
football = pd.DataFrame({
    'player_id':[100012,100012,100012,100013,100013,100013,100014,100014,100014,100015,100015,100015,100016,100016,100016],
    's_date': ['01-29-2020','03-12-2020','02-15-2020','02-25-2020','01-11-2020','03-01-2020','01-20-2020','02-02-2020','03-11-2020','02-12-2020','01-23-2020','03-10-2020','01-09-2020','02-08-2020','03-06-2020'],
    'score': [50,55,54,67,58,69,56,45,57,56,67,68,69,67,56]
})
# ------- type the answer below this line ------- #

print('#------------- Answer-1 ----------------------')
x = football['score'].get(10)
print("'score' of player at index 10 is: ", x)
print("\n")    

print('#------------- Answer-2 ----------------------')
x = football.get(['s_date','score'])
print("Columns 'score' and 's_date' are: ", x)

#------------- Answer-1 ----------------------
'score' of player at index 10 is:  67


#------------- Answer-2 ----------------------
Columns 'score' and 's_date' are:          s_date  score
0   01-29-2020     50
1   03-12-2020     55
2   02-15-2020     54
3   02-25-2020     67
4   01-11-2020     58
5   03-01-2020     69
6   01-20-2020     56
7   02-02-2020     45
8   03-11-2020     57
9   02-12-2020     56
10  01-23-2020     67
11  03-10-2020     68
12  01-09-2020     69
13  02-08-2020     67
14  03-06-2020     56

### Question 3:

    - Use the .lookup() command to get player_id at index 4, s_date at index 4 and score at index 4
    - Use the .lookup() command to get player_id at index 5, s_date at index 6 and score at index 7



Print all answers to output.

[Note: Create new variables of your choice as needed.]

In [10]:
# Football player list
football = pd.DataFrame({
    'player_id':[100012,100012,100012,100013,100013,100013,100014,100014,100014,100015,100015,100015,100016,100016,100016],
    's_date': ['01-29-2020','03-12-2020','02-15-2020','02-25-2020','01-11-2020','03-01-2020','01-20-2020','02-02-2020','03-11-2020','02-12-2020','01-23-2020','03-10-2020','01-09-2020','02-08-2020','03-06-2020'],
    'score': [50,55,54,67,58,69,56,45,57,56,67,68,69,67,56]
})
# ------- type the answer below this line ------- #


    
print('#------------- Answer-1 ----------------------')
x = football.lookup([4,4,4],['player_id','s_date','score'])
print("'player_id' at index 4, 's_date' at index 4 and 'score' at index 4:\n", x)
print("\n")    

print('#------------- Answer-2 ----------------------')
x = football.lookup([5,6,7],['player_id','s_date','score'])
print("'player_id' at index 5, 's_date' at index 6 and 'score' at index 7:\n", x)

#------------- Answer-1 ----------------------
'player_id' at index 4, 's_date' at index 4 and 'score' at index 4:
 [100013 '01-11-2020' 58]


#------------- Answer-2 ----------------------
'player_id' at index 5, 's_date' at index 6 and 'score' at index 7:
 [100013 '01-20-2020' 45]

# Congratulations on completing the exercise!

### Hope you enjoyed the questions. Thank you !!!

#### Please like, share and subscribe to learndataa 
-<html>https://www.youtube.com/channel/UCzUpHQAfj3ulmJkTAfBtXLw/</html>

In [27]:
#learndataa learndataa learndataa learndataa learndataa learndataa learndataa learndataa learndataa