In [ ]:
#learndataa learndataa learndataa learndataa learndataa learndataa learndataa learndataa learndataa

## <center> Exercises </center>

### For Beginners: 3. Basic data types in Python

#### Total questions: 5
#### Estimated time required: < 30 minutes

[Notes: 
- Answers may be typed after the line "#-------#" in each cell. Additional cells may be created if needed.
- The estimated time required to complete the exercise may vary depending on your prior knowledge.
- Answers to the questions are posted at the end of this worksheet. However, to help you learn, it is suggested that you to try to answer the questions yourself before looking at the answers.
]

### Question 0:
- Print 'Hello World'

In [ ]:
# ------- type the answer below this line ------- #

### Question # 1:  Find the type of the variables and print the output below the cell

In [2]:
# ---------------------------
# Example question and asnwer
# ---------------------------
x = 100

# ------- type the answer below this line ------- #

print(x)
print(type(x))

100
<class 'int'>

In [ ]:

cash = 23.80

# ------- type the answer below this line ------- #

In [ ]:

first_name = 'Sky'

# ------- type the answer below this line ------- #

In [ ]:
sun = 1.3927*10**6 # km
moon = 3474.2 # km



# ------- type the answer below this line ------- #

is_sun_greater_than_moon =

### Question # 2: 
- Create a new variable that stores the total cost
- Write the code to calculate total cost (Hint: x = 1 + 1)
- Print cost as shown in this line: "Total cost is ...." (Hint: use %s for string and %f for float)

In [ ]:

cost_of_soda = 2.00  # $
cost_of_chips = 3 # $



# ------- type the answer below this line ------- #

total_cost =

### Question # 3:
- The store gave \$0.50 discount on the chips
- What is the final total_cost? (Hint: Subtract \$0.50 from the total_cost calculated in cell above.)
- Print cost as: "Cost after discount is \$...."

In [ ]:
discount = 2.00

# ------- type the answer below this line ------- #

final_cost =

### Question # 4:
- Check to see if the two numbers below are equal or one of them is greater than the other
- To check each condition create additional cells if preferred and after answer is known
- print answer as: " number_1 is greater than/equal to/less than ...."

In [ ]:
number_1 = 18972347924726394858345435937468035973427823658403560356724364245348975726427
number_3 = 18972347924726394858345435937468035973427823658403560356724164245348975726427

# ------- type the answer below this line ------- #

### Question # 5:
- Find the area of a square that has a side of length 248.56 inches (Hint: Use exponential such as x**2)
- Print answer as: "The area of square is ... square inches" (Hint: Use %f to print float)

In [ ]:

length_of_side = 248.56 # inches

# ------- type the answer below this line ------- #

area_of_square =

### ////////////////////////////////////////////////////////////////////////////////////////////////////////
### ////////////////////////////////////////////////////////////////////////////////////////////////////////
### For practice, please try the questions above before looking at the answers below
### ////////////////////////////////////////////////////////////////////////////////////////////////////////
### ////////////////////////////////////////////////////////////////////////////////////////////////////////

# Answers
[Note: There may be different ways to answer the same question. Therefore, it is okay if the answers vary and sometimes do not match exactly.]

### Question 0:
- Print 'Hello World'

In [ ]:
# ------- type the answer below this line ------- #
print("Hello World")

### Question # 1:  Find the type of the variables and print the output below the cell

In [2]:
# ---------------------------
# Example question and asnwer
# ---------------------------
x = 100

# ------- type the answer below this line ------- #

print(x)
print(type(x))

100
<class 'int'>

In [13]:

cash = 23.80

# ------- type the answer below this line ------- #

print(cash)
print(type(cash))

23.8
<class 'float'>

In [14]:

first_name = 'Sky'

# ------- type the answer below this line ------- #

print(first_name)
print(type(first_name))

Sky
<class 'str'>

In [15]:
sun = 1.3927*10**6 # km
moon = 3474.2 # km



# ------- type the answer below this line ------- #

is_sun_greater_than_moon = sun > moon

print(is_sun_greater_than_moon)
print(type(is_sun_greater_than_moon))

True
<class 'bool'>

### Question # 2: 
- Create a new variable that stores the total cost
- Write the code to calculate total cost (Hint: x = 1 + 1)
- Print cost as shown in this line: "Total cost is ...." (Hint: use %s for string and %f for float)

In [17]:

cost_of_soda = 2.00  #$
cost_of_chips = 3 #$



# ------- type the answer below this line ------- #

total_cost = cost_of_soda + cost_of_chips
print("Total cost is $%f" %(total_cost))

Total cost is $5.000000

### Question # 3:
- The store gave \$0.50 discount on the chips
- What is the final total_cost? (Hint: Subtract \$0.50 from the total_cost calculated in cell above.)
- Print cost as: "Cost after discount is ...."

In [18]:
discount = 2.00 #$

# ------- type the answer below this line ------- #

final_cost = total_cost - discount

print("Cost after discount is $%f" %(final_cost))

Cost after discount is $3.000000

### Question # 4:
- Check to see if the two numbers below are equal or one of them is greater than the other
- Print answer as: " number_1 is greater than/equal to/less than ...."

In [19]:
number_1 = 18972347924726394858345435937468035973427823658403560356724364245348975726427
number_3 = 18972347924726394858345435937468035973427823658403560356724164245348975726427

# ------- type the answer below this line ------- #

number_1==number_3

False

In [20]:
number_1>number_3

True

In [21]:
print("number_1 is greater than number 2")

number_1 is greater than number 2

### Question # 5:
- Find the area of a square that has a side of length 248.56 inches (Hint: Use exponential such as x**2)
- Print answer as: "The area of square is ..." (Hint: Use %f to print float)

In [22]:

length_of_side = 248.56 # inches

# ------- type the answer below this line ------- #

area_of_square = length_of_side**2

print("The area of square is %f square inches." %(area_of_square))

The area of square is 61782.073600 square inches.

### <center> Hope you enjoyed the exercise. Thank you !!! </center>

#### <center> Please like, share and subscribe to learndataa <html>https://www.youtube.com/channel/UCzUpHQAfj3ulmJkTAfBtXLw/</html></center>

In [27]:
#learndataa learndataa learndataa learndataa learndataa learndataa learndataa learndataa learndataa